@model KungFuTea.Models.ViewModels.Account.LoginViewModel

@{
    ViewBag.Title = "Login";
}
    <div class="form-inline" align="center">
        <h2 align="center" style="color:white">Login</h2>

        @if (TempData["SM"] != null)
        {
            <div class="alert alert-success">
                @TempData["SM"]
            </div>
        }

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <p><label for="UserName" style="color:white">UserName:</label></p>
                <div class="col-md-20">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p><label for="Password" style="color:white">Password:</label></p>
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="RememberMe">Remember Me</label>
                <div class="col-md-2">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.RememberMe)
                        @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-default">Login</button>
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" style="color:white" onclick="location.href='/account/create-account'">Register</button>
            </div>
        }
    </div>
