@model IEnumerable<KungFuTea.Models.ViewModels.Cart.CartViewModel>

@{
    ViewBag.Title = "Cart Details";
    int count = 1;
}

<h2 align="center">Cart Details</h2>

@if (ViewBag.Message != null)
{
    <h3>@ViewBag.Message</h3>
}
else
{
    <table class="table">
        <tr>
            <th style="text-align:center">
                Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                Image
            </th>
            <th>

            </th>
            <th>
                Total
            </th>
            <th>

            </th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td class="qty@(item.ItemId)">
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <img src="/Images/@item.Image" width="80" height="80"/>
            </td>
            <td>
                <a href="#" style="color:white" class="additem" data-id="@item.ItemId">+</a>
                <a href="#" style="color:white" class="dropitem" data-id="@item.ItemId">-</a>
                <a href="#" style="color:white" class="removeitem" data-id="@item.ItemId">Remove</a>
            </td>
            <td class="total@(item.ItemId)">
                $@Html.DisplayFor(modelItem => item.Total)
            </td>
        </tr>
    }

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="grandtotal"><b>Grand total</b> $<span>@ViewBag.GrandTotal</span></td>
        </tr>

    </table>

    <a href="/Cart/Checkout" class="CheckOut btn btn-primary">Checkout</a>

}

@section Scripts {
<script>

$(function () {

    /*Add item*/

    $("a.additem").click(function (e) {
        e.preventDefault();

        var itemId = $(this).data("id");
        var url = "/cart/AddItem";

        $.getJSON(url, { itemId: itemId }, function (data) {

            $("td.qty" + itemId).html(data.qty);

            var price = data.qty * data.price;
            var priceHtml = "$" + price.toFixed(2);

            $("td.total" + itemId).html(priceHtml);

            var gt = parseFloat($("td.grandtotal span").text());
            var grandtotal = (gt + data.price).toFixed(2);

            $("td.grandtotal span").text(grandtotal);
        });
    });


    /*Drop item*/

    $("a.dropitem").click(function (e) {
        e.preventDefault();

        var $this = $(this);
        var itemId = $(this).data("id");
        var url = "/cart/DropItem";

        $.getJSON(url, { itemId: itemId }, function (data) {
            if (data.qty == 0) {
                $this.parent().parent().fadeOut("fast", function () {
                    location.reload();
                });
            }
            else {
                $("td.qty" + itemId).html(data.qty);

                var price = data.qty * data.price;
                var priceHtml = "$" + price.toFixed(2);

                $("td.total" + itemId).html(priceHtml);

                var gt = parseFloat($("td.grandtotal span").text());
                var grandtotal = (gt - data.price).toFixed(2);

                $("td.grandtotal span").text(grandtotal);
            }

        });
    });

    /*Remove item*/

    $("a.removeitem").click(function (e) {
        e.preventDefault();

        var $this = $(this);
        var itemId = $(this).data("id");
        var url = "/cart/RemoveItem";

        $.get(url, { itemId: itemId }, function (data) {
            location.reload();
        });
    });

    /*CheckOut*/

    $("a.CheckOut").click(function (e) {
        e.preventDefault();

        var $this = $(this);

        var url = "/cart/CheckOut";

        $(".ajaxbg").show();

        $.post(url, { }, function (data) {
            $(".ajaxbg span").text("Order Successful");
        });
    });

    //////////////////////////////////////////////////////////////

});

</script>

}