@model IEnumerable<KungFuTea.Models.ViewModels.Shop.ItemViewModel>

@{
    ViewBag.Title = "Items";
}

@using PagedList.Mvc; 
@using PagedList;

    <h2>Items</h2>

<select id="SelectCategory" name="SelectCategory">
    <option value="0">All</option>
    @foreach (var item in ViewBag.Categories)
    {
        if (ViewBag.SelectedCat == item.Value)
        {
            <option selected="selected" value="@item.Value">@item.Text</option>
        }
        else
        {
            <option value="@item.Value">@item.Text</option>
        }
    }
</select>
<br /><br />

      <p>
          @Html.ActionLink("Add New Item", "AddItem")
      </p>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
        <th>
            Image Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.OnePageOfItems)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td>
                $@item.Price
            </td>
            <td>
                <a href="/admin/shop/EditItem/@item.Id">
                    <img src="/Images/@item.ImageName" width="80" height="80"  />
                </a>
            </td>
            <td>
                @Html.ActionLink("Edit", "EditItem", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteItem", new { id = item.Id }, new { @class = "delete" } )
            </td>
        </tr>
    }

</table>

@Html.PagedListPager((IPagedList)ViewBag.OnePageOfItems, page => Url.Action("Items", new { page, catId = ViewBag.SelectedCat }))

@section Scripts {
<script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<script>

$(function () {

    /*
    * Select products from specified category
    */

    $("#SelectCategory").on("change", function () {
        var url = $(this).val();

        if (url) {
            window.location = "/admin/shop/Items?catId=" + url;
        }

        return false;
    });

    //////////////////////////////////////////////////////////////

    /*
    * Confirm product deletion
    */

    $("a.delete").click(function () {
        if (!confirm("Confirm product deletion")) return false;
    });

    //////////////////////////////////////////////////////////////

});

</script>

}